<h3>
<%= "#{@user.first_name}'s articles" %>
</h3>
<br />
<%= render "common/pagination" %>
<% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
<% end %>